
.pay-type-popup {
    & > *:not(:last-child) {
        margin-bottom: 24px;
    }
    &__selector {
        display: flex;
        align-items: center;
        column-gap: 8px;

        & img {
            width: 16px;
            height: 20px;
            cursor: pointer;
        }
        & p {
            color: rgba(26, 31, 22, 0.50)
        }
    }
}