.preview-orders {
    display: none;
    margin-top: 44px;
    &__order-list {
        margin-top: 24px;

        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__order {

        & > a {
            &:hover {
                border-bottom: 2px solid black;
                cursor: pointer;
                font-weight: 700;

            }
        }
    }
}