.preview-bag {
    display: none;
    &__items {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        padding: 8px;
        border-radius: 12px;
        background-color: #fff;
    }
    &__img {
        height: 64px;
        width: 64px;
        object-fit: contain;
        object-position: 50% 50%;
    }
    &__bag-btn {
        display: flex !important;
        margin: 0 auto;
        margin-top: 34px;
    }
}

.preview-bag__bag-btn-wrapper {
    display: none;
}
