.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 48px;
}

.subtitle {
    font-size: 31px;
}

.container-start-page {
    display: flex;
}

.left-col {
    width: 1000px;
    padding-right: 5px;
    border-right: 4px solid rgba(26, 31, 22, 0.4);
}

.right-col {
    padding-left: 35px;
    width: 400px;
}

.black-btn {
    padding: 8px 24px;
    background-color: $black-color;
    border-radius: 14px;
    border: none;
    color: #fff;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    &:hover{
        opacity: .8;
    }
}

.preview-title {
    text-align: center;
    font-size: 39px;
}

.go-back-btn {
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color .5s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.162);
    }
}

.active {
    display: block !important;
}

.conceal {
    display: none !important;
}