.container {
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 48px;
    padding-bottom: 30px;
    position: relative;
    max-width: 1440px;
    height: 100%;
}

#app {
    height: 100%;
}

.main-content {
    display: flex;
    height: 100%;
}

.title {
    font-size: 49px;
}

.subtitle {
    font-size: 31px;
}

.left-col {
    position: relative;
    width: 1050px;
    border-right: 4px solid rgba(26, 31, 22, 0.4);
    height: 100%;

    & > * {
        padding-right: 48px;
    }
}

.right-col {
    position: relative;
    padding-left: 35px;
    width: 350px;
}

.error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    z-index: 100;
    & > *:not(:last-child) {
        margin-bottom: 32px;
    }
}

.black-btn {
    padding: 8px 24px;
    background-color: $black-color;
    border-radius: 14px;
    border: none;
    color: #fff;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s ease;
    &:hover {
        background-color: rgba(141, 83, 56, 0.653);
    }
}

.preview-title {
    text-align: center;
    font-size: 39px;
}

.go-back-btn {
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.162);
    }
}

.rating {
    padding: 16px 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    &__star {
        width: 24px;
        height: 24px;
    }
    &__value {
        margin-left: 16px;
        color: $green-color;
        letter-spacing: -0.4px;
    }
}

.address {
    padding: 16px;
    background-color: #fff;
    border-radius: 13px;

    &__content {
        margin-top: 8px;
        padding: 8px;
        position: relative;

        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.pay-type {
    padding: 16px;
    background-color: #fff;
    border-radius: 13px;
    &__selector {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__result {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    &__result-img {
    }
    &__change-btn {
        position: relative !important;
        margin-top: -10px;
        margin-right: -8px;
    }
}

.order__title {
    padding: 8px;
    text-transform: uppercase;
}

.popup {
    padding: 32px;
    width: 676px;
    background-color: #fff;
    border-radius: 15px;

    &__btn {
        padding: 8px 24px;
        width: 100%;

    }
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.fixe-scroll {
    overflow-y: hidden;
}

.conceal {
    display: none !important;
}
