html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input {
  font: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: #1A1F16;
  background-color: #EDEDED;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 100px;
  padding-top: 48px;
  padding-bottom: 30px;
}

.subtitle {
  font-size: 31px;
}

.container-start-page {
  display: flex;
}

.left-col {
  width: 1050px;
  padding-right: 48px;
  padding-top: 40px;
  border-right: 4px solid rgba(26, 31, 22, 0.4);
}

.right-col {
  padding-left: 35px;
  width: 350px;
}

.black-btn {
  padding: 8px 24px;
  background-color: #1A1F16;
  border-radius: 14px;
  border: none;
  color: #fff;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.black-btn:hover {
  opacity: 0.8;
}

.preview-title {
  text-align: center;
  font-size: 39px;
}

.go-back-btn {
  padding: 8px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.go-back-btn:hover {
  background-color: rgba(128, 128, 128, 0.162);
}

.rating {
  padding: 16px 8px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.rating__star {
  width: 24px;
  height: 24px;
}
.rating__value {
  margin-left: 16px;
  color: #12805D;
  letter-spacing: -0.4px;
}

.active {
  display: block !important;
}

.conceal {
  display: none !important;
}

.preview-items {
  display: flex;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
}

.preview-item {
  padding: 16px;
  max-height: 410px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.preview-item:hover {
  background-color: rgba(161, 126, 126, 0.15);
  border-radius: 22px;
}
.preview-item__img {
  padding: 16px;
  width: 160px;
  height: 200px;
  border-radius: 22px;
  background-color: #fff;
  box-sizing: content-box;
  transition: all 0.5s ease;
}
.preview-item__name {
  max-width: 180px;
}
.preview-item__model {
  font-size: 16px;
  color: #60695C;
}
.preview-item .to-bag-wrapper {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preview-item__to-bag-btn {
  padding: 8px;
  width: 34px;
  height: 34px;
  border-radius: 9px;
}

.preview-bag__items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.preview-bag__item {
  padding: 8px;
  border-radius: 12px;
  background-color: #fff;
}
.preview-bag__img {
  height: 64px;
  width: 64px;
  object-fit: cover;
  object-position: 50% 50%;
}
.preview-bag__bag-btn {
  margin: 0 auto;
  margin-top: 34px;
}

.preview-orders {
  display: none;
  margin-top: 44px;
}
.preview-orders__order-list {
  margin-top: 24px;
}
.preview-orders__order-list > *:not(:last-child) {
  margin-bottom: 10px;
}
.item-card__main-info {
  margin-top: 30px;
  padding-bottom: 25px;
  margin-bottom: 32px;
  display: flex;
  column-gap: 32px;
  border-bottom: 4px solid rgba(26, 31, 22, 0.3);
}
.item-card__image {
  width: 242px;
  height: 302px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 13px;
  background-color: #fff;
}
.item-card__name {
  font-size: 61px;
  font-weight: 700;
}
.item-card__model {
  font-size: 31px;
  color: rgba(26, 31, 22, 0.5);
}
.item-card__price {
  font-size: 31px;
}
.item-card__btn-wrapper {
  display: flex;
  justify-content: end;
}
.item-card__add-to-bag-btn {
  margin-top: 15px;
}
.item-card__full-desc {
  margin-top: 8px;
  color: #60695C;
  letter-spacing: -0.4px;
}

.text-wrapper {
  padding: 8px;
}
.text-wrapper > *:not(:last-child) {
  margin-bottom: 8px;
}

.bag__title {
  margin-top: 18px;
  font-size: 49px;
}
.bag__items {
  margin-top: 34px;
}
.bag__items > *:not(:last-child) {
  margin-bottom: 24px;
}
.bag__cost {
  margin-top: 35px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag__amount {
  padding: 8px;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.bag__change-amount-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.bag__change-amount-btn img {
  width: 18px;
  height: 18px;
}
.bag-item {
  padding: 16px 24px;
  display: flex;
  column-gap: 16px;
  background-color: #fff;
  border-radius: 21px;
}
.bag-item__img {
  width: 203px;
  height: 302px;
  object-fit: cover;
  object-position: 50% 50%;
}
.bag-item__text {
  padding: 8px;
}
.bag-item__name {
  font-size: 31px;
}
.bag-item__model {
  margin-top: 8px;
  color: #60695C;
}
.bag-item__description {
  margin-top: 16px;
  letter-spacing: -0.4px;
}

/*# sourceMappingURL=style.css.map */
